@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  

  :root  {
    --background: 224.3 100% 95%;
    --foreground: 224.3 5% 0%;
    --card: 224.3 50% 90%;
    --card-foreground: 224.3 5% 10%;
    --popover: 224.3 100% 95%;
    --popover-foreground: 224.3 100% 0%;
    --primary: 224.3 76.3% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 224.3 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 186.3 30% 85%;
    --muted-foreground: 224.3 5% 35%;
    --accent: 186.3 30% 80%;
    --accent-foreground: 224.3 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 224.3 5% 90%;
    --border: 224.3 30% 50%;
    --input: 224.3 30% 18%;
    --ring: 224.3 76.3% 48%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 224.3 50% 5%;
    --foreground: 224.3 5% 90%;
    --card: 224.3 50% 0%;
    --card-foreground: 224.3 5% 90%;
    --popover: 224.3 50% 5%;
    --popover-foreground: 224.3 5% 90%;
    --primary: 224.3 76.3% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 224.3 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 186.3 30% 15%;
    --muted-foreground: 224.3 5% 60%;
    --accent: 186.3 30% 15%;
    --accent-foreground: 224.3 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 224.3 5% 90%;
    --border: 224.3 30% 18%;
    --input: 224.3 30% 18%;
    --ring: 224.3 76.3% 48%;
    --radius: 0.5rem;
  }
  

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.custom-popup {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.custom-popup .mapboxgl-popup-content {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.custom-popup .mapboxgl-popup-tip {
  display: none !important;
}
